// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

nav[role="navigation"] {
  border-top: 1px dashed #e3e3e3;
  .main-navigation {
    li {
      a {
        color: white;
        text-shadow: none;
        &:hover {
          color: #eacdb2;
        }
      }
    }
  }
}

header[role="banner"] {
  background: url(/images/you.jpg) no-repeat fixed;
  background-position: 0px -400px;
  background-size: cover;
  hgroup {
    h1 {

    }
    h2 {
      color: #eacdb2;
    }
  }
}

.fb_iframe_widget {
  top: -8px;
}